@CHARSET "ISO-8859-1";
h2{
    size: 48px;
    text-align: center;
    margin-bottom: 10px;
}

#logout{
    width: 70px;
    margin: auto;
}

#main{
    width: 1150px;
    margin: auto;
}

.Days{
    margin:auto;
    background-color: blue;
}

.noDate{
    background-color: blue;
}

.Days td{
    width: 100px;
    height: 60px;
}

.DayNames{
    border: 1px solid black;
    text-align: center;
//   padding-top: 2px;
    background-color: yellow;
    padding: 20px;
}

.hasDate{
    border: 1px solid black;
    text-align: right;
    vertical-align: top;
    padding-top: 2px;
    background-color: #7FFFD4;
}

.buttons{
    margin-left: 5px;
    margin-bottom: 5px;
}

.CalFrame{
    width: 1150px;
    height: 575px;
}