@CHARSET "ISO-8859-1";
h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #303030;
}

h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #303030;
}

#logout{
    width: 70px;
    margin: auto;
}

#main{
    width: 1750px;
	margin: auto;
}



.Days{
    margin:auto;
    background-color: white;
}

.noDate{
    background-color: white;
    border: none;
}

.Days td{
    width: 100px;
    height: 60px;
    padding-top: 2px;
}

.DayNames{
    text-align: center;
    background-color: darkgray;
    color: black;
}

.hasDate{
    text-align: right;
    vertical-align: top;
    background-color: #eee;
    color: #777;
}
.CalControlPanel {
    width: 1150px;

}
.MainCalendar #MonthTitle{
    background-color: #9ebcda;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-top: 20px;
    height: 100px;
    color: white;
    border-radius: 25px;
}
.CalControlPanel #prevMonth{
    float: left;
    margin-left: 30px;
    margin-top: 45px;
}

.CalControlPanel #nextMonth{
    float: right;
    margin-right: 5px;
    margin-top: 45px;
}
.CalFrame{
    width: 1750px;
    height: 800px;
    margin: auto;
 //   background-color: lightgray;
    border-radius: 20px;
   
}

.MainCalContainer {
    width: 1600px;
    display: in-line block;
}
.CalContainer{
    width: 1400px;
    float: right;
}

img {
    display: block;
    margin: 0 auto;
}

#Dashboard{
    width: 195px;
    float: left;
    height: 780px;
    border-radius: 20px;
    text-align: center;
    background-color: #B3CCFF;
    margin-right: 5px;
}

#DashIcon {
    margin-top: 10px;
}
#Groups, #DashIcon, #Message, #UpcomingEvents {
    cursor: pointer;
    
}

#Groups:hover, #DashIcon:hover, #Message:hover, #UpcomingEvents:hover {
    background-color: #e6e6e6;
}

.active{
    text-align: right;
    vertical-align: top;
    background-color: #9ebcda;
}
table{
    border-radius: 25px;
}

.Days #Sunday{
    border-top-left-radius: 25px;
}

.Days #Saturday{
    border-top-right-radius: 25px;
}
.Days #BottomLeftCorner{
    border-bottom-left-radius: 25px;
}
.Days #BottomRightCorner{
    border-bottom-right-radius: 25px;
}


.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
}
.login-page #lButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9ecae1;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transform: translate(0px, 30px);
  
}
.login-page #username {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}
.login-page #pass {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;

}
.register {
    font-family: "Lucida Sans Unicode", sans-serif;
    text-align: center
}
.register #rButton{
font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9ecae1;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transform: translate(0px, 30px);
}
.MainContent {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
}

.MainContent button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9ecae1;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.createAccount {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
}

.createAccount #lButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9ecae1;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transform: translate(0px, 10px);
  
}

.createAccount #username {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}
.createAccount #pass1 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}
.createAccount #pass2 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;

}
